.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 30px;

  box-shadow: 0px 12px 78px rgba(0, 0, 0, 0.16);

  &__logo {
    width: 82px;
    height: 48px;

    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    &__link {
      font-size: 16px;
      color: var(--grey-400);
      text-decoration: none;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--grey-1000);
      }
    }

    &__link__active {
      color: var(--grey-1000);
    }

    &__user {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      cursor: pointer;

      &__avatar {
        width: 42px;
        height: 42px;
        border-radius: 50%;

        &__active {
          border: 1px solid var(--primary);
        }
      }
    }
  }
}
