:root {
  --grey-0: #fefefe;
  --grey-200: #999999;
  --grey-400: #777777;
  --grey-600: #555555;
  --grey-800: #333333;
  --grey-1000: #111111;

  --primary: #9bd788;
  --accent: #adf098;

  --apple-red: #f62828;
  --lemon-yellow: #eff24f;
  --leaf-green: #71b637;

  --font: "Inter", sans-serif;

  --shadow: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  --shadow-hover: 0px 4px 6px 0 hsla(0, 0%, 0%, 0.25);
}
