.typography-title {
  font-size: 64px;
  font-weight: 900;
}

.typography-heading {
  font-size: 40px;
  font-weight: 800;
}

.typography-content {
  font-size: 40px;
  font-weight: 400;
}

.typography-paragraph-bold {
  font-size: 20px;
  font-weight: 600;
}

.typography-paragraph {
  font-size: 20px;
  font-weight: 700;
}
